html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background: #000000;
}

::selection {
    background: #22FF88;
    color: #000000;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #000000;
}

::-webkit-scrollbar-thumb {
    background: #22FF88;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: #38BDF8;
}