*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.top-txt{
  font-size: 1rem;
  font-weight: 500;
  background-color: rgb(37, 219, 37);
  padding: 0.5rem 0rem;
  color:white;

}

.sign{
  font-size: 1rem;
  font-weight: 500;
  color:white;
}

.nav-link{
  background-color: rgb(37, 219, 37);
  color: white;
  border-radius: 30%;
  padding: 0.3rem 1.4rem;
}

i{
  color: white;
  
}

.nav-link-cart{
  background-color: rgb(155, 74, 15);
  padding: 0.3rem 1.6rem 0.3rem 1.6rem;
  border-radius: 30%;
}

.logo{
  width: 30%;
  height: auto;
}
.header-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.sign-in-up{
  display: flex;
  gap: 5rem;
}

.container{
  max-width: 140rem;
  margin: 0.8rem auto;
  padding: 0 3.2rem;
  font-size: 1.5rem;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* background-color: whitesmoke; */
}

main{
   background-color: whitesmoke;
}

.navbar ul {
    display: flex;
    gap: 3rem;
    list-style: none;
    gap: 3rem;

  ;
}

a{
  text-decoration: none;
}

.container.grid.grid-two--cols {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 5rem 5rem 8rem;
}

.custom-shape-divider-bottom-1785952215 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1785952215 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom-1785952215 .shape-fill {
    fill: rgb(37, 219, 37);
}

.secton-hero--content{
  display: flex;
  flex-direction: column;
}

.hero-subheading{
  text-transform: capitalize;
  font-size: 1.1rem;
  font-weight: 400;
  color: rgb(10, 192, 10);
  margin-bottom: 0.5rem;
}

.hero-para{
  text-transform: capitalize;
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 2.1rem;
  color: rgb(105, 46, 4);
}

.hero-heading{
  text-transform: capitalize;
  color: rgb(37, 219, 37);
  margin-bottom: 1.6rem;
}

.hero-btn{
  width: 15.5rem;
  background-color: rgb(37, 219, 37);
  padding: 0.7rem 1.2rem;
  border: none;
  border-radius: 2.5rem;

}

.btn{
  color: white;
}

.section-hero-image{
  margin-left: 15rem;
}

img.img-style{
  width: 100%;
  height: auto;
}  
